<!doctype html>
<html lang="id">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Membership Gym{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
  <a class="brand" href="/">🏋️ GymKu</a>
  <a href="/" class="{% if aktif=='checkin' %}on{% endif %}">Check-in</a>
  <a href="/member" class="{% if aktif=='member' %}on{% endif %}">Member</a>
  <a href="/kelas" class="{% if aktif=='kelas' %}on{% endif %}">Kelas</a>
  <a href="/laporan" class="{% if aktif=='laporan' %}on{% endif %}">Laporan</a>
</nav>
<main>{% block content %}{% endblock %}</main>
{% block script %}{% endblock %}
</body>
</html>
